footer {
	margin-top: 20px;
	background-color: #white;
	line-height: 28px;
	border-top: #cc7a00 solid 4px;
}
footer h3 {
	color: #333;
}
footer hr {
	border-color: #333;
}
footer text {
	color: #333;
	text-align: justify;
	letter-spacing: 1px;

}
