.border {
	border: solid 1px black;
}
.padding-none {
	padding: 0;
}
.grid-header {
	font-size: 20px;
	color: #1a1a1a;
	margin: 40px 0px 20px;
	border-bottom: solid 1px  #595959;
}
.grid-products {
	font-family: Arial, sans-serif;

}
.grid-figure:hover {
	border-bottom: 4px solid #6694ff;
}
.grid-figure {
	line-height: 25px;
	height: 347px;
	border: 1px solid #ececec;
	background: white;
}
.title {
	height: 75px;
	font-size: 15px;
	font-weight: bold;
	overflow: hidden;
	color: #333;
}
.title:hover {
	text-decoration: underline;
}
.price {
	font-size: 17px;

	color:  #e60000;
	font-weight: bold;
}
.due {
	color: #404040;
	font-size: 13px;
}

/*.rewardImage img {
	vertical-align:middle;
  height: 220px;
	width: 260px;
}*/

.rewardImage {
  height: 200px;
}

.thumbnail_wrapper {
  border-bottom: 1px solid #d6d6d6;
  text-align: center;
}

.thumbnail_wrapper::before {
  content: '';
  height: 100%;
  display: inline-block;
  vertical-align: middle;
}

.thumbnail_wrapper> img {
  max-width: 100%;
  max-height: 100%;
  display: inline-block;
  vertical-align: middle;
}

.thumbnailDes:hover .rewardImage {
  display: none;
}
.countdown-container {
	text-align: right;
}
.countdown {
	font-size: 16px;
	color:#0bc62b;
	font-weight: bold;
	letter-spacing: -1px;
}

/**/
.rewardImage1 {
  height: 150px;
}

.thumbnail_wrapper1 {
  border-bottom: 1px solid #d6d6d6;
  text-align: center;
}

.thumbnail_wrapper1::before {
  content: '';
  height: 100%;
  display: inline-block;
  vertical-align: middle;
}

.thumbnail_wrapper1> img {
  max-width: 100%;
  max-height: 100%;
  display: inline-block;
  vertical-align: middle;
}

.thumbnailDes1:hover .rewardImage1 {
  display: none;
}
